.outer{
    background: red;
    color: white;
}
.left{
    background-color: plum;
    width: 30%;
    float: left;
}
.right{
    background-color: green;
    width: 30%;
    float: right;
}
.outer:before,
.outer:after{
    content: " ";
    display: table;
    clear:both;
}
